# Runtime
NODE_ENV=development

# API
PORT=4000

# Database (docker service name: mongodb)
MONGO_URI=mongodb://mongodb:27017/aoa

# Auth
JWT_SECRET=change_me_super_secret

# Bootstrap admin user
ADMIN_NAME=Administrador
ADMIN_EMAIL=admin@aoa.com
ADMIN_PASSWORD=Admin12345

